<div id="app">
  <div>
    ori:{{htmlCode}}
  </div>
  <div v-html="htmlCode"></div>
  
  <div :class="del">aabb</div>
  <div :class="['del', 'delBak']">aabb</div>
  <div :class="{del: isDel, delBak: isDelBak}">
    ccdd
  </div>
  <div :style="{color: myGray, fontSize: small}">
    eeff
  </div>
  <div>
    {{ ten + 1 }}
  </div>
  <div>
    {{ (result==10) ? "YES" : "NO"}}
  </div>
  <div @click="click2">
    {{ message.split(" ").reverse().join(" ") }}
  </div>
  <div v-if="status">
    lol
  </div>
  <div v-else>
    wow
  </div>
  <div class="container" style="font-size:50px" v-show="vsParam" v-on:click="click1">
    this is v-show1
  </div>
  <ul>
  <li v-for="item, index in items" :key="index">
    {{index}} : {{item.message}}
  </li>
  </ul>


  <div>
    <input type="text" v-model="message" />
    <br/>
    <span>you input : {{message}}</span>
    <br/>
  </div>
  <div>
    a:<input type="checkbox" value="a" v-model="myCheckBox"><br/>
    b:<input type="checkbox" value="b" v-model="myCheckBox"><br/>
    <span>you check: {{myCheckBox}}</span>
  </div>
  <div>
    boy:<input type="radio" value="boy" v-model="myRadio"><br/>
    gril:<input type="radio" value="gril" v-model="myRadio"><br/>
    <span>you check: {{myRadio}}</span>
    <br/>
  </div>
  <div>
    <a href="https://google.com.tw" @click.stop.prevent="doThat">gogogo</a>
  </div>
  <div>
    <counter></counter>
    <counter></counter>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
